.studyContainer {
  display: flex;
  justify-content: left;
}
.studylist {
  text-align: left;
}

@media screen and (max-width: 1270px) {
  .studyContainer {
    flex-direction: column;
  }
}
@media screen and (max-width: 490px) {
  .studylist {
    font-size: 12px;
  }
}