.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(217, 202, 202);
  padding-bottom: 30px;
  h2 {
    text-align: center;
  }
}
aside {
  background-color: rgb(210, 221, 209);
  margin-right: 20px;
}
.text__part {
  padding-right: 50px;
}
.header__prof {
  font-size: 1.5rem;
  margin: 0;
}
.name {
  font-size: 3rem;
  margin: 0;
  text-align: justify;
  padding-top: 20px;
  width: 250px;
}
.photo__container {
  width: 150px;
  height: 150px;
  background-image: url('/avatar.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.header__contacts {
  list-style-type: none;
  padding-right: 30px;
}
.header__contacts_item {
  text-align: left;
  a {
    color: white;
  }
  a:hover {
    color: black;
  }
}
@media screen and (max-width: 794px) {
  .header {
    margin-top: 5px;
  }
  .header__contacts {
   padding: 0 5px;
   li {
    font-size: 90%;
   }
  }
  .name,
  .header__prof {
    font-size: 150%;
    text-align: center;
  }
}
@media screen and (max-width: 728px) {
  .header {
    background-image: url('/avatar.jpg');
    background-size: 17%;
    background-repeat: no-repeat;
    align-items: flex-start;
    background-position-x: 78%;
  }
  .photo__container {
    display: none;
  }
  .name,
  .header__prof {
    font-size: 100%;
    text-align: center;
  }
  .text__part {
    align-self:flex-end;
  }
}
@media screen and (max-width: 630px) {
  .header {
    display: inline;
    background-image: none;
  }
  aside {
    margin-right: 0;
  }
  .photo__container {
    display: block;
    margin: 0 auto;
  }
  .name {
    margin: 0 auto;
  }
}