.aboutContainer {
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid rgb(217, 202, 202);
}
.aboutlist {
  list-style: none;
  li{
    padding-left: 20px;
    position: relative;
    margin: 10px;
    text-align: left;
  }
  li:before {
    content: '✔';
    position: absolute; top: 0; left: 0;
    color: rgb(170, 197, 176);
  }
  .questionsign::before {
    content: '\1F64A';
    color: rgb(170, 197, 176);
  }
}